/*TODO: 
1. Border-sizing for each section (DONE)
2. Color (DONE)
3. Div Layout Config (Almost Done)
*/

@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
  color: white;
}

body {
  background-color: #022418;
  display: flex;
  flex-direction: column;
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
  color: aliceblue;
}

p {
  text-align: center;
  font-size: 20px;
  max-width: 30%;
}

/* === For Index === */

header {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  max-height: 6rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10%;
  z-index: 1000;
}

.logo a img {
  height: fit-content;
  width: 150px;
  cursor: pointer;
}

header nav {
  list-style: none;
}

header nav li {
  display: inline-flex;
  padding: 0px 30px;
}

header nav li a {
  transition: all 0.5s ease 0s;
  border-bottom: 1px solid transparent;
}

header nav li a:hover {
  border-bottom: 1px solid #a8c060;
  color: #a8c060;
}

main.index {
  overflow: hidden;
  background-image: url("../image/forrest-cavale.png");
  background-size: cover;
  background-attachment: fixed;
}

section.home {
  background-image: url(../image/forrest-cavale_1.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-width: 100%;
  height: 710px;
}

section.home .quote {
  font-size: 20px;
  font-weight: 200;
  padding-bottom: 3rem;
}

section.home .button {
  list-style: none;
}

section.home .button li {
  display: inline-flex;
  padding: 0px 100px;
  padding-bottom: 100px;
}

button {
  padding: 20px 20px;
  width: 190px;
  background-color: #a8c060;
  border: 1px solid transparent;
  border-radius: 50px;
}

button:hover {
  background-color: transparent;
  border: 1px solid white;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

section.statsbencana {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #022418;
  background-image: url(../image/lithograph-texture\ 2.png);
  background-size: contain;
  height: 810px;
  overflow: hidden;
}

.subtitle {
  font-weight: 900;
  font-size: 50px;
  padding: 0px 0px 50px 0px;
}

.statistic {
  display: inline-flex;
}

.stats {
  max-width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.stats.hutan {
  background-image: url(../image/hutangunduldark.jpg);
  padding: 0px 2rem;
  padding-top: 20rem;
  padding-bottom: 2rem;
  transition: all 0.7s ease-out;
  background-size: 100%;
}

.green-bold {
  color: #a8c060;
}

.white {
  color: white;
}

.stats.hutan:hover {
  transition: 0.7s ease-out;
  background-image: url(../image/hutangundul.jpg);
}

.stats.makanan {
  background-image: url(../image/makananterbuangdark.jpg);
  padding: 0px 2rem;
  padding-top: 20rem;
  padding-bottom: 2rem;
  transition: all 0.7s ease-out;
  background-size: cover;
}

.stats.makanan:hover {
  transition: 0.7s ease-out;
  background-image: url(../image/makananterbuang.jpg);
}

.stats.sumberdaya {
  background-image: url(../image/sumberdayadark.jpg);
  padding: 0px 2rem;
  padding-top: 20rem;
  padding-bottom: 2rem;
  transition: all 0.7s ease-out;
  background-size: cover;
}

.stats.sumberdaya:hover {
  transition: 0.7s ease-out;
  background-image: url(../image/sumberdaya.jpg);
}

.stats.polusi {
  background-image: url(../image/polusidark.jpg);
  padding: 0px 2rem;
  padding-top: 20rem;
  padding-bottom: 2rem;
  transition: all 0.7s ease-out;
  background-size: cover;
}

.stats.polusi:hover {
  transition: 0.7s ease-out;
  background-image: url(../image/polusi.jpg);
}

.stats-green {
  font-size: 2rem;
}

.white {
  font-weight: lighter;
  font-size: 1.2rem;
}

section.educative {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #022418;
  height: 810px;
}

.educative .button li {
  display: inline-flex;
  padding: 60px 10px;
}

.educative .button button {
  font-size: larger;
  text-align: center;
  padding: 70px 0px;
  width: 300px;
  border-radius: 0%;
}

section.gallery {
  display: flex;
  background-image: url(../image/gritty-texture.png);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #606d65;
  height: 810px;
}

section.gallery .carousel {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 710px;
  padding-bottom: 20px;
}

section.gallery .carousel-images {
  display: flex;
  justify-content: center;
  transform: translateX(0);
  transition: transform 0.25s;
}

section.gallery .carousel-images .caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1.2em 13.8em;
  font-size: large;
  position: absolute;
  bottom: 4px;
  text-align: center;
  z-index: 100;
}

section.gallery .carousel-images .caption.chernobyl {
  padding: 1.2em 12.5em;
}

section.gallery .carousel-images .caption.tsunami {
  padding: 1.2em 10.8em;
}

section.gallery .carousel-images .caption.famine {
  padding: 1.2em 15.4em;
}

section.gallery .carousel-images .caption.smog {
  padding: 1.2em 10.5em;
}

section.gallery .carousel-images .caption.pompeii {
  padding: 1.2em 13.9em;
}

.caption h4 {
  font-size: larger;
}

.caption h5 {
  font-size: large;
  font-weight: 500;
}

.carousel-button {
  position: absolute;
  border-radius: 50%;
  color: white;
  border: none;
  padding: 0px;
  opacity: 1;
  transition: opacity 0.25s;
  height: 3rem;
  width: 3rem;
  background-color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
  z-index: 1;
}

#previous {
  left: 5px;
}

#next {
  right: 5px;
}

.carousel-button:hover {
  background-color: rgba(168, 192, 96, 0.8);
  padding: 0px;
  border: none;
  opacity: 1;
}

section.gallery img {
  width: 810px;
  height: 400px;
}

section.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #022418;
  background-image: url(../image/green-world.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 810px;
}

.about button {
  margin: 0px 15px;
  margin-top: 50px;
  width: 100px;
  border-radius: 100%;
}

.back-up {
  position: relative;
  background-color: transparent;
}

.index.back-up {
  top: 150px;
}

.back-up:hover {
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid gray;
  box-shadow: 0 12px 12px 14px black;
  background-color: #022418;
  padding: 4em 10em;
  height: 339px;
  line-height: 2;
}

footer .galeri {
  margin-left: 10em;
}

footer h4 {
  font-size: larger;
  border-bottom: 1px solid grey;
  padding-bottom: 4px;
  margin-bottom: 2px;
}

footer a {
  font-weight: 400;
}

footer .follow-us {
  margin-right: 20px;
}

footer .follow-us .socials {
  display: flex;
  flex-direction: column;
  padding: 6px 0px;
  align-items: center;
}

footer .follow-us .socials .brands i {
  padding: 2px 6px;
}

footer .logo {
  margin: 4rem 0px;
}

footer a:hover {
  transition: all;
  color: #a8c060;
}

footer .logo img {
  width: 200px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  font-size: 1.2rem;
  background-color: #022418;
  border-top: 1px solid gray;
}

/* === For Gallery === */

main.gallery {
  position: fixed;
  background-image: url(../image/lithograph-texture\ 2.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 810px;
}

main.gallery nav {
  position: absolute;
  top: 60px;
  left: 100px;
}

.threed-earth {
  display: flex;
  align-items: center;
  width: 600px;
  overflow: hidden;
}

.earthimg {
  display: flex;
  justify-content: center;
  transform: translateX(0);
  transition: transform 0s;
}

.circle-chernobyl {
  position: absolute;
  top: 32%;
  background-color: white;
  border-radius: 50%;
  height: 13px;
  width: 13px;
  left: 8%;
  /* cursor: pointer; */
}

.circle-chernobyl button {
  position: relative;
  padding: 0;
  border: none;
  width: 1em;
  height: 1em;
}

.circle-chernobyl:before {
  position: absolute;
  content: "";
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  border: 3px dashed whitesmoke;
  top: -4.8px;
  left: -4.8px;
  border-radius: inherit;
  animation: spin 10s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotateZ(360deg);
  }
}
nav button {
  background-color: transparent;
}

nav button:hover {
  border: 1px solid transparent;
  color: #a8c060;
  cursor: pointer;
}

section.threed-earth button {
  border: none;
  background-color: transparent;
  transition: none;
}

.earthimg img {
  width: 600px;
  height: 600px;
}

.earth-button {
  position: absolute;
  border-radius: 50%;
  color: white;
  border: none;
  padding: 0px;
  opacity: 1;
  transition: opacity 0.25s;
  height: 3rem;
  width: 3rem;
  background-color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
  z-index: 1;
}

#previous-slide {
  left: 20%;
}

#next-slide {
  right: 20%;
}

/* === For Gallery (Chernobyl) === */

nav.chernobyl {
  display: flex;
  position: absolute;
  z-index: 1000;
  top: 4.5em;
  left: 7em;
}

.bencanachernobyl {
  position: fixed;
  background-image: url(../image/chernobyl.svg);
  background-size: cover;
  width: 100%;
  height: 100%;
}

/* === For Ensiklopedia === */

main.ensiklopedia {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main.ensiklopedia .top {
  margin-top: 5em;
}

main.ensiklopedia .top nav {
  position: absolute;
  left: 10em;
}

section.kategori {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

.kategori button {
  border: none;
  border-right: 1px solid white;
  border-left: 1px solid white;
  border-radius: 0%;
  background-color: transparent;
  width: 25%;
}

.kategori button:hover {
  background-color: #a8c060;
}

section.main section {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  margin-top: 3%;
  width: 89.7%;
}

.main article {
  border: 1px solid #a8c060;
  font-size: 1.2em;
  padding: 7%;
  padding-right: 10%;
  margin-left: 14%;
  text-align: left;
}

.main article img {
  text-align: center;
  width: 300px;
  height: 300px;
}

.main article h5 {
  font-weight: 500;
}

.main article h4 {
  font-size: 1.7em;
  text-align: center;
  padding-bottom: 5%;
}

.main article .user {
  font-weight: 800;
}

.main article .paper {
  padding: 5% 0%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.main article p {
  text-align: left;
  font-size: 0.8em;
  max-width: 100%;
}

.main article li {
  font-weight: 500;
  font-size: 0.8em;
  list-style: lower-alpha;
}

.main aside {
  position: static;
  display: flex;
  margin-left: 5%;
  flex-direction: column;
}

.main .daftar-pustaka button {
  border: none;
  padding: 10% 0%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-radius: 0%;
  background-color: transparent;
  height: 100px;
  width: 15rem;
}

.main .daftar-pustaka button:hover {
  background-color: #a8c060;
}

.back-up {
  display: flex;
  top: 0;
  padding: 3em;
  justify-content: center;
}

button.pustaka.green-button {
  background-color: #a8c060;
}

button.green-button {
  background-color: #a8c060;
}
